/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajouts personnalisés */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* gris clair Tailwind */
  color: #1f2937; /* gris foncé Tailwind */
}

button {
  transition: background-color 0.3s, color 0.3s;
}
